<!--creates plot with input data array (columns: MJD, Value, minValue, maxValue, true/false)-->
<script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {



        // Create the data table.
        var sdata<%=epoch_id%> = new google.visualization.DataTable();
        sdata<%=epoch_id%>.addColumn('number', 'Frequency');
        sdata<%=epoch_id%>.addColumn('number', 'Flux Density [Jy]');
        sdata<%=epoch_id%>.addColumn({type:'number', role:'interval'});
        sdata<%=epoch_id%>.addColumn({type:'number', role:'interval'});
        sdata<%=epoch_id%>.addColumn({type:'boolean', role: 'certainty'});
        sdata<%=epoch_id%>.addRows(<%= data %>);

        // Set chart options
        var soptions<%=epoch_id%> = {title:'Spectrum on <%= Epoch.find(epoch_id).date.to_s %>' ,
                       legend: { position: 'none'},
                       vAxis: { title: 'Flux Density [Jy]' },
                       hAxis: { title: 'Frequency [GHz]' } };

        // Instantiate and draw our chart, passing in some options.
        var schart<%=epoch_id%> = new google.visualization.LineChart(document.getElementById("spectrum<%=epoch_id.to_s%>"));
        schart<%=epoch_id%>.draw(sdata<%=epoch_id%>, soptions<%=epoch_id%>);

}
</script>

<div id="spectrum<%=epoch_id.to_s%>" style='width: 700px; height: 500px'></div>