<h1>Sources</h1>

</br>

<div class="container">
<%= link_to 'New Source', new_source_path, class: "btn btn-success" %>
</div>

</br>

<table class="table table-hover table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>J2000 Name</th>
      <th>Alt Name</th>
      <th>Class</th>
      <th>S mojave</th>
      <th>S alma</th>
      <th>Redshift</th>
      <th>Ra</th>
      <th>Decl</th>
      <th>Lst from</th>
      <th>Lst to</th>
      <th>Comment</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.order("j2000_name").each do |source| %>
      <tr>
        <td><%= link_to source.j2000_name, source %></td>
        <td><%= source.alt_name %></td>
        <td><%= source.source_class %></td>
        <td><%= source.s_mojave %></td>
        <td><%= source.s_alma %></td>
        <td><%= source.redshift %></td>
        <td><%= source.ra %></td>
        <td><%= source.decl %></td>
        <td><%= source.lst_from %></td>
        <td><%= source.lst_to %></td>
        <td><%= source.comment %></td>
        <td><%= link_to 'Edit', edit_source_path(source), class: "btn btn-outline-success btn-sm" %></td>
        <td><%= link_to 'Delete', source, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
