<h1>Sources</h1>

</br>

<% if user_signed_in? %>
<div class="container">
<%= link_to 'New Source', new_source_path, class: "btn btn-success" %>
</div>
</br>
<%end%>


<table class="table table-hover table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>J2000 Name</th>
      <th>Alt Name</th>
      <th>Class</th>
      <th>14mm Average [mJy]</th>
      <th>7mm Average [mJy]</th>
      <th>Redshift</th>
      <th>RA</th>
      <th>DEC</th>
      <th>LST from</th>
      <th>LST to</th>
      <th>Comment</th>
      <% if user_signed_in? %>
        <th colspan="2"></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @sources.order("j2000_name").each do |source| %>
      <tr>
        <td><%= link_to source.j2000_name, source %></td>
        <td><%= source.alt_name %></td>
        <td><%= source.source_class %></td>
        <td><%= source.aver(19,25) %></td>
        <td><%= source.aver(36,44) %></td>
        <td><%= source.redshift %></td>
        <td><%= source.ra %></td>
        <td><%= source.decl %></td>
        <td><%= source.lst_from %></td>
        <td><%= source.lst_to %></td>
        <td><%= source.comment %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_source_path(source), class: "btn btn-outline-success btn-sm" %></td>
          <td><%= link_to 'Delete', source, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
