<h1>Sources</h1>

</br>

<% if user_signed_in? %>
<div class="container">
<%= link_to 'New Source', new_source_path, class: "btn btn-success" %>
</div>
</br>
<%end%>


<table class="table table-hover table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>J2000 Name</th>
      <th>Alt Name</th>
      <th>Class</th>
      <th>Average 14mm [mJy]</th>
      <th>Average 7mm [mJy]</th>
      <th>Redshift</th>
      <th>RA (J2000)</th>
      <th>DEC (J2000)</th>
      <th>NED</th>
      <th>SIMBAD</th>
      <th>Comment</th>
      <% if user_signed_in? %>
        <th colspan="2"></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @sources.order("j2000_name").each do |source| %>
      <tr>
        <td><%= link_to source.j2000_name, source %></td>
        <td><%= source.alt_name %></td>
        <td><%= source.source_class %></td>
        <td><%= source.aver(19,25) %></td>
        <td><%= source.aver(36,44) %></td>
        <td><%= source.redshift %></td>
        <td><%= source.ra %></td>
        <td><%= source.decl %></td>
        <% if source.alt_name %>
          <td><%= link_to image_tag("ned", width: "30"), "https://ned.ipac.caltech.edu/byname?objname="+source.alt_name.gsub("+","%2B")+"&hconst=67.8&omegam=0.308&omegav=0.692&wmap=4&corr_z=1"%></td>
          <td><%= link_to image_tag("simbad",height: "30"), "http://simbad.harvard.edu/simbad/sim-basic?submit=SIMBAD+search&Ident="+source.alt_name.gsub("+","%2B")%></td>
        <% else %>
          <td><%= link_to image_tag("ned", width: "30"), "https://ned.ipac.caltech.edu/byname?objname="+source.j2000_name.gsub("+","%2B")+"&hconst=67.8&omegam=0.308&omegav=0.692&wmap=4&corr_z=1"%></td>
          <td><%= link_to image_tag("simbad",height: "30"), "http://simbad.harvard.edu/simbad/sim-basic?submit=SIMBAD+search&Ident="+source.j2000_name.gsub("+","%2B")%></td>
        <% end %>
        <td><%= source.comment %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_source_path(source), class: "btn btn-outline-success btn-sm" %></td>
          <td><%= link_to 'Delete', source, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
