<!-- javascript needed for plots -->
<%= render 'create_plots', source: @source %>
<div class="row">
  <div class="col-md-12">
   <div class="card text-white bg-secondary">
      <div class="card-header">
       <h1>
          <%= @source.j2000_name %>
          (<%= @source.alt_name %>)
       </h1>
      </div>
    </div>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-8">
    <div class="card h-100">
      <div class="card-header">
        Source Information
      </div>
      <div class="card-body "> 
        <div class="row">
          <div class="col"> 
              <p><strong>Name:</strong> <%= @source.j2000_name %> (<%=@source.alt_name%>)</p>    
              <p><strong>Class:</strong> <%= @source.source_class %></p>
              <p><strong>Average 20mm:</strong> <%= @source.aver(14,17) %> mJy</p>
              <p><strong>Average 14mm:</strong> <%= @source.aver(19,25) %> mJy</p>
              <p><strong>Average 7mm:</strong> <%= @source.aver(36,44) %> mJy</p>
              <p><strong>Redshift:</strong> <%= @source.redshift %></p>
          </div>
          <div class="col">
              <p><strong>RA (J2000):</strong> <%= @source.ra %></p>
              <p><strong>DEC (J2000):</strong> <%= @source.decl %></p>
              <p><strong>Category:</strong> 
                <% @source.source_categories.each do |cat| %>
                  <%=cat.name%>, 
                <%end%>
              </p>
              <p><strong>External:</strong> <% if @source.alt_name %>
                  <%= link_to(image_tag("ned", width: "30"), "https://ned.ipac.caltech.edu/byname?objname="+@source.alt_name.gsub("+","%2B")+"&hconst=67.8&omegam=0.308&omegav=0.692&wmap=4&corr_z=1",target: "_blank", rel:"noopener noreferrer")%>
                  <%= link_to(image_tag("simbad",height: "30"), "http://simbad.harvard.edu/simbad/sim-basic?submit=SIMBAD+search&Ident="+@source.alt_name.gsub("+","%2B"),target: "_blank", rel:"noopener noreferrer")%>
                <% else %>
                  <%= link_to(image_tag("ned", width: "30"), "https://ned.ipac.caltech.edu/byname?objname="+@source.j2000_name.gsub("+","%2B")+"&hconst=67.8&omegam=0.308&omegav=0.692&wmap=4&corr_z=1",target: "_blank", rel:"noopener noreferrer")%>
                  <%= link_to(image_tag("simbad",height: "30"), "http://simbad.harvard.edu/simbad/sim-basic?submit=SIMBAD+search&Ident="+@source.j2000_name.gsub("+","%2B"),target: "_blank", rel:"noopener noreferrer")%>
                <% end %>
                <%= if @source.tevcat_url != "http://tevcat2.uchicago.edu/" then link_to(image_tag("tevcat",height: "25"), @source.tevcat_url,target: "_blank", rel:"noopener noreferrer") end%></p>
              <p><strong>Comment:</strong> <%= @source.comment %></p>
              <% if user_signed_in? && current_user.admin? %>
              <p><%= link_to 'Edit', edit_source_path(@source), class: "btn btn-outline-success btn-sm" %></p>
              <% end %>            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-header">
        Aladin Lite View
      </div>
      <div class="card-body d-flex align-items-center justify-content-center">
        <!-- Aladin Lite View -->
        <div id="aladin-lite-div" style="width:300px;height:300px;"></div>
        <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
        <script type="text/javascript">
          <% if @source.ra != nil and @source.decl != nil %>
            var aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:1/30, target: "<%=@source.ra + " " + @source.decl%>"});
          <% else %>
            var aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:1/30, target: "<%=@source.j2000_name%>"});
          <% end %>
        </script>
      </div>
    </div>
  </div>
</div>
</br>

<!-- div style element with lightcurves & spectra -->

<!--Lightcurve-->
<div class="row align-items-start">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header container-fluid">
        <div class="row">
          <div class="col-md-8">
          Lightcurves 
          </div>
          <div class="col-md-4">
            <% if user_signed_in? %>
              <div class="form-check form-switch form-check-inline float-right">
                <input class="form-check-input" type="checkbox" id="averSwitch" name="averSwitch" value="no" checked>
                <label class="form-check-label" for="averSwitch"> Average Mode </label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="lightcurve"></div>
      </div>
    </div>
  </div>

<!--Spectra-->
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Spectra
      </div>
      <div class="card-body">
        <div id="spectrum"></div>
      </div>
    </div>
  </div>  
</div>

</br>

<%if user_signed_in?%>

<!--Spectral Index-->
<div class="row align-items-start">
  <div class="col-md-12">
    <div class="card">
      <div class=card-header>
        Spectral Index Evolution
      </div>
      <div class="card-body">
        <div id="speci"></div>
      </div>
    </div>
  </div>
</div>

<!-- data table if user is signed in -->



  <br/>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Data Table
      </div>
      <div class="card-body">
        <% @output_name=@source.j2000_name.gsub!('+','_')%>
        <button id="export_button" class="btn btn-success" data-table='export_<%=@output_name%>'>Export to CSV File</button>
        <p></p>
        <table id='export_<%=@output_name%>' class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th>Epoch Date</th>
              <th>Frequency [GHz]</th>
              <th>Flux Density [Jy]</th>
              <th>Error [Jy]</th>
              <th>MJD</th>
              <th>Scan Number</th>
              <th>Elevation</th>
              <% if user_signed_in? && current_user.admin? %>
                <th colspan="2"></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @source.results.order(:mjd).each do |result| %>
              <tr>
                <td><%= Epoch.where(id: result.epoch_id).first.date %></td>
                <td><%= Frequency.where(id: result.frequency_id).first.freq_ghz %></td>
                <td><%= result.value_jy %></td>
                <td><%= result.error_jy %></td>
                <td><%= result.mjd %></td>
                <td><%= result.scan_nr %></td>
                <td><%= result.elevation %></td>
                <% if user_signed_in? && current_user.admin? %>
                  <td><%= link_to 'Edit', edit_result_path(result), class: "btn btn-outline-success" %></td>
                  <td><%= link_to 'Delete', result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>