<!-- javascript needed for plots -->
<%= render 'create_plots', source: @source %>

<div class="col-md-12">
  <div class="card text-white bg-secondary">
    <div class="card-header">
      <h1>
        <%= @source.j2000_name %>
        (<%= @source.alt_name %>)
      </h1>
    </div>
  </div>
</div>

    <div class="card">
      <div class="card-header">
        Source Information
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th>Class</th>
              <th>Average 14mm  [mJy]</th>
              <th>Average 7mm [mJy]</th>
              <th>Redshift</th>
              <th>RA (J2000)</th>
              <th>DEC (J2000)</th>
              <th>NED</th>
              <th>SIMBAD</th>
              <th>Comment</th>
              <% if user_signed_in?%>
              <th></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td><%= @source.source_class %></td>
                <td><%= @source.aver(19,25) %></td>
                <td><%= @source.aver(36,44) %></td>
                <td><%= @source.redshift %></td>
                <td><%= @source.ra %></td>
                <td><%= @source.decl %></td>
                <% if @source.alt_name %>
                  <td><%= link_to image_tag("ned", width: "30"), "https://ned.ipac.caltech.edu/byname?objname="+@source.alt_name.gsub("+","%2B")+"&hconst=67.8&omegam=0.308&omegav=0.692&wmap=4&corr_z=1"%></td>
                  <td><%= link_to image_tag("simbad",height: "30"), "http://simbad.harvard.edu/simbad/sim-basic?submit=SIMBAD+search&Ident="+@source.alt_name.gsub("+","%2B")%></td>
                <% else %>
                  <td><%= link_to image_tag("ned", width: "30"), "https://ned.ipac.caltech.edu/byname?objname="+@source.j2000_name.gsub("+","%2B")+"&hconst=67.8&omegam=0.308&omegav=0.692&wmap=4&corr_z=1"%></td>
                  <td><%= link_to image_tag("simbad",height: "30"), "http://simbad.harvard.edu/simbad/sim-basic?submit=SIMBAD+search&Ident="+@source.j2000_name.gsub("+","%2B")%></td>
                <% end %>
                <td><%= @source.comment %></td>
                <% if user_signed_in? %>
                  <td><%= link_to 'Edit', edit_source_path(source), class: "btn btn-outline-success btn-sm" %></td>
                  <td><%= link_to 'Delete', source, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
                <%end%>
                    <td><%= @source.comment %></td>
                <% if user_signed_in?%>
                    <td><%= link_to 'Edit', edit_source_path(@source), class: "btn btn-outline-success" %></td>
                <% end %>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

</br>

<!-- div style element with lightcurves & spectra -->

<div class="row align-items-start">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Lightcurves
      </div>
      <div class="card-body">
        <div id="lightcurve"></div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Spectra
      </div>
      <div class="card-body">
        <div id="spectrum"></div>
      </div>
    </div>
  </div>  
</div>

<!-- data table if user is signed in -->


<%if user_signed_in?%>
  <br/>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Data Table
      </div>
      <div class="card-body">
        <% @output_name=@source.j2000_name.gsub!('+','_')%>
        <button id="export_button" class="btn btn-success" data-table='export_<%=@output_name%>'>Export to CSV File</button>
        <p></p>
        <table id='export_<%=@output_name%>' class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th>Epoch Date</th>
              <th>Frequency [GHz]</th>
              <th>Flux Density [Jy]</th>
              <th>Error [Jy]</th>
              <th>MJD</th>
              <th>Scan Number</th>
              <th>Elevation</th>
              <% if user_signed_in? %>
                <th colspan="2"></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @source.results.order(:mjd).each do |result| %>
              <tr>
                <td><%= Epoch.where(id: result.epoch_id).first.date %></td>
                <td><%= Frequency.where(id: result.frequency_id).first.freq_ghz %></td>
                <td><%= result.value_jy %></td>
                <td><%= result.error_jy %></td>
                <td><%= result.mjd %></td>
                <td><%= result.scan_nr %></td>
                <td><%= result.elevation %></td>
                <% if user_signed_in? %>
                  <td><%= link_to 'Edit', edit_result_path(result), class: "btn btn-outline-success" %></td>
                  <td><%= link_to 'Delete', result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>