<p>
  <strong>J2000 name:</strong>
  <%= @source.j2000_name %>
</p>

<p>
  <strong>Alt name:</strong>
  <%= @source.alt_name %>
</p>

<p>
  <strong>Source class:</strong>
  <%= @source.source_class %>
</p>

<p>
  <strong>S mojave:</strong>
  <%= @source.s_mojave %>
</p>

<p>
  <strong>S alma:</strong>
  <%= @source.s_alma %>
</p>

<p>
  <strong>Redshift:</strong>
  <%= @source.redshift %>
</p>

<p>
  <strong>Ra:</strong>
  <%= @source.ra %>
</p>

<p>
  <strong>Decl:</strong>
  <%= @source.decl %>
</p>

<p>
  <strong>Lst from:</strong>
  <%= @source.lst_from %>
</p>

<p>
  <strong>Lst to:</strong>
  <%= @source.lst_to %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @source.comment %>
</p>

<h2>Lightcurves</h2>

<% @source.frequencies.distinct.each do |freq| %>
  <!-- query database -->
  <% @freq_id=freq.id %>
  <% @data = Result.where(:source_id => @source.id, :frequency_id => @freq_id).map { |r| [r.mjd,r.value_jy,r.value_jy-r.error_jy,r.value_jy+r.error_jy, true]} %>
  <!-- create plot -->
  <%= render 'create_lightcurve_plot', data: @data, freq_id: @freq_id %>
<%end%>


<h2>Spectra</h2>

<% @source.epoches.distinct.each do |epoch| %>
  <!-- query database -->
  <% @epoch_id=epoch.id %>
  <% @data = Result.where(:source_id => @source.id, :epoch_id => @epoch_id).map { |r| [Frequency.find(r.frequency_id).freq_ghz,r.value_jy,r.value_jy-r.error_jy,r.value_jy+r.error_jy, true]} %>
  <% @data = @data.sort_by(&:first) %>
  <!-- create plot -->
  <%= render 'create_spectrum_plot', data: @data, epoch_id: @epoch_id %>
<%end%>


<h2>Data Table</h2>

<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>Epoch Date</th>
      <th>Frequency [GHz]</th>
      <th>Flux Density [Jy]</th>
      <th>Error [Jy]</th>
      <th>MJD</th>
      <th>Scan Number</th>
      <th>Elevation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @source.results.each do |result| %>
      <tr>
        <td><%= Epoch.where(id: result.epoch_id).first.date %></td>
        <td><%= Frequency.where(id: result.frequency_id).first.freq_ghz %></td>
        <td><%= result.value_jy %></td>
        <td><%= result.error_jy %></td>
        <td><%= result.mjd %></td>
        <td><%= result.scan_nr %></td>
        <td><%= result.elevation %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
