<p id="notice"><%= notice %></p>

<p>
  <strong>J2000 name:</strong>
  <%= @source.j2000_name %>
</p>

<p>
  <strong>Alt name:</strong>
  <%= @source.alt_name %>
</p>

<p>
  <strong>Source class:</strong>
  <%= @source.source_class %>
</p>

<p>
  <strong>S mojave:</strong>
  <%= @source.s_mojave %>
</p>

<p>
  <strong>S alma:</strong>
  <%= @source.s_alma %>
</p>

<p>
  <strong>Redshift:</strong>
  <%= @source.redshift %>
</p>

<p>
  <strong>Ra:</strong>
  <%= @source.ra %>
</p>

<p>
  <strong>Decl:</strong>
  <%= @source.decl %>
</p>

<p>
  <strong>Lst from:</strong>
  <%= @source.lst_from %>
</p>

<p>
  <strong>Lst to:</strong>
  <%= @source.lst_to %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @source.comment %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>



<table>
  <thead>
    <tr>
      <th>Epoch Date</th>
      <th>Frequency [GHz]</th>
      <th>Flux Density [Jy]</th>
      <th>Error [Jy]</th>
      <th>MJD</th>
      <th>Scan Number</th>
      <th>Elevation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @source.results.each do |result| %>
      <tr>
        <td><%= Epoch.where(id: result.epoch_id).first.date %></td>
        <td><%= Frequency.where(id: result.frequency_id).first.freq_ghz %></td>
        <td><%= result.value_jy %></td>
        <td><%= result.error_jy %></td>
        <td><%= result.mjd %></td>
        <td><%= result.scan_nr %></td>
        <td><%= result.elevation %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


