<%= form_with(model: epoch) do |form| %>
  <% if epoch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(epoch.errors.count, "error") %> prohibited this epoch from being saved:</h2>

      <ul>
        <% epoch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_select :date, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= form.label :lst_from, class: "form-label" %>
      <%= form.text_field :lst_from, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= form.label :lst_to, class: "form-label" %>
      <%= form.text_field :lst_to, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :comment, class: "form-label" %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

<div class="row">   
  <div class="col-sm-2">
    <%= form.check_box :showpol,{class:"form-check-input", type:"checkbox"}, "true", "false" %>
    <%= form.label :showpol,'Show Polarization?', class:"form-check-label" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :showpol_6_3ghz,{class:"form-check-input", type:"checkbox"}, "true", "false" %>
    <%= form.label :showpol_6_3ghz,'6.3GHz', class:"form-check-label" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :showpol_8_3ghz,{class:"form-check-input", type:"checkbox"}, "true", "false" %>
    <%= form.label :showpol_8_3ghz,'8.3GHz', class:"form-check-label" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :showpol_14_0ghz,{class:"form-check-input", type:"checkbox"}, "true", "false" %>
    <%= form.label :showpol_14_0ghz,'14.0GHz', class:"form-check-label" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :showpol_17_0ghz,{class:"form-check-input", type:"checkbox"}, "true", "false" %>
    <%= form.label :showpol_17_0ghz,'17.0GHz', class:"form-check-label" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :showpol_19_0ghz,{class:"form-check-input", type:"checkbox"}, "true", "false" %>
    <%= form.label :showpol_19_0ghz,'19.0GHz', class:"form-check-label" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :showpol_21_4ghz,{class:"form-check-input", type:"checkbox"}, "true", "false" %>
    <%= form.label :showpol_21_4ghz,'21.4GHz', class:"form-check-label" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :showpol_36_0ghz,{class:"form-check-input", type:"checkbox"}, "true", "false" %>
    <%= form.label :showpol_36_0ghz,'36.0GHz', class:"form-check-label" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :showpol_39_0ghz,{class:"form-check-input", type:"checkbox"}, "true", "false" %>
    <%= form.label :showpol_39_0ghz,'39.0GHz', class:"form-check-label" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :showpol_41_0ghz,{class:"form-check-input", type:"checkbox"}, "true", "false" %>
    <%= form.label :showpol_41_0ghz,'41.0GHz', class:"form-check-label" %>
  </div>
  <div class="col-sm-1">
    <%= form.check_box :showpol_43_0ghz,{class:"form-check-input", type:"checkbox"}, "true", "false" %>
    <%= form.label :showpol_43_0ghz,'43.0GHz', class:"form-check-label" %>
  </div>
</br>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
