<%= form_with(model: epoch) do |form| %>
  <% if epoch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(epoch.errors.count, "error") %> prohibited this epoch from being saved:</h2>

      <ul>
        <% epoch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_select :date, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= form.label :lst_from, class: "form-label" %>
      <%= form.text_field :lst_from, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= form.label :lst_to, class: "form-label" %>
      <%= form.text_field :lst_to, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :comment, class: "form-label" %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
