<h1>Epochs</h1>

</br>
<% if user_signed_in? %>
<div class="container">
  <%= link_to 'New Epoch', new_epoch_path, class: "btn btn-success" %>
</div>
</br>
<%end%>

<table class="table table-hover table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Date</th>
      <th>LST from</th>
      <th>LST to</th>
      <th>Duration [h]</th>
      <th>Comment</th>
      <% if user_signed_in? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @epoches.order("date").reverse_order.each do |epoch| %>
      <tr>
        <td><%= link_to epoch.date, epoch %></td>
        <td><%= epoch.lst_from %></td>
        <td><%= epoch.lst_to %></td>
        <td><%= epoch.duration %></td>
        <td><%= epoch.comment %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_epoch_path(epoch), class: "btn btn-outline-success btn-sm" %></td>
          <td><%= link_to 'Delete', epoch, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
