<h1>
  Epoch <%= @epoch.date %>
</h1>

<p>
  <strong>Comment:</strong>
  <%= @epoch.comment %>
  <%= @epoch.showpol %>
</p>


<div class="container">
    <div class="row row-cols-2">     

		<% @epoch.sources.distinct.order(:j2000_name).each do |source| %>
              
            <!-- query database -->
            <% @source_id=source.id %>
            <% @data = Result.where(:source_id => @source_id, :epoch_id => @epoch.id).map { |r| [Frequency.find(r.frequency_id).freq_ghz,r.value_jy,r.value_jy-r.error_jy,r.value_jy+r.error_jy, true]} %>
            <% @data = @data.sort_by(&:first) %>

            <!-- create plot -->
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <%= link_to source.j2000_name, source %>
                </div>
                <div class="card-body">
				          <%= render 'create_epoch_spectrum', data: @data, source_id: @source_id %>
                </div>
              </div>
              <br/>
            </div>

		<%end%>
	</div>
</div>

<% if user_signed_in? %>

  <button id="export_button" class="btn btn-success" data-table='export_<%=@epoch.date.to_s.gsub!('-','_')%>'>Export to CSV File</button>
  <p></p>
  <table class="table table-hover" id="export_<%=@epoch.date.to_s.gsub!('-','_')%>">
      <thead class="table-dark">
          <tr>
    	      <th>Source Name</th>
            <th>Frequency [GHz]</th>
            <th>Flux Density [Jy]</th>
            <th>Error [Jy]</th>
            <th>MJD</th>
            <th>Scan Number</th>
            <th>Elevation</th>
            <% if user_signed_in? %>
              <th colspan="2"></th>
            <% end %>
          </tr>
      </thead>

      <tbody>
          <% @epoch.results.order(:mjd).each do |result| %>
            <tr>
              <td><%= Source.where(id: result.source_id).first.j2000_name %></td>
              <td><%= Frequency.where(id: result.frequency_id).first.freq_ghz %></td>
              <td><%= result.value_jy %></td>
              <td><%= result.error_jy %></td>
              <td><%= result.mjd %></td>
              <td><%= result.scan_nr %></td>
              <td><%= result.elevation %></td>
              <% if user_signed_in? %>
                <td><%= link_to 'Edit', edit_result_path(result), class: "btn btn-outline-success" %></td>
                <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
              <% end %>
            </tr>
          <% end %>
      </tbody>
  </table>

<%end%>