<% if user_signed_in? %>

<% @amon_alert=@circular_neutrino.neutrino_alerts.first %>

<% amon_sources=[] %>
<% gcn_sources=[] %>
<% all_sources=[] %>
<% all_sources_sources=[]%>


<%@circular_neutrino.sources.each do |s| %>
  <% gcn_sources.push(s.j2000_name) %>
  <% all_sources.push(s.j2000_name) %>
  <% all_sources_sources.push(s)%>
<% end %>

<% if @amon_alert != nil %>
  <%@amon_alert.sources.each do |s|%>
    <% amon_sources.push(s.j2000_name) %>
    <% if not all_sources.include?(s.j2000_name)%>
      <% all_sources.push(s.j2000_name) %>
      <% all_sources_sources.push(s)%>
    <% end %>
  <% end %>
<% end %>

<%= render '/home/plot_all_lightcurves', sources_to_plot: all_sources_sources %>

<div class="row">
  <div class="col-md-12">
   <div class="card text-white bg-secondary">
      <div class="card-header">
       <h1>
          <%= @circular_neutrino.name %>
       </h1>
      </div>
      <% if @amon_alert != nil %>
      <div class="card-body">
        <div class="row">
            <div class="col-md-2"><p><strong>Date:</strong> <%= @amon_alert.date %></p></div>
            <div class="col-md-2"><p><strong>Time:</strong> <%= @amon_alert.time %></p></div>        
            <div class="col-md-2"><p><strong>Signalness:</strong> <%= @circular_neutrino.neutrino_alerts.first.signalness %></p></div>
            <div class="col-md-2"><p><strong>Energy:</strong> <%= @circular_neutrino.neutrino_alerts.first.energy %></p></div>
            <div class="col-md-2"><p><strong>Type:</strong> <%= @circular_neutrino.neutrino_alerts.first.noticetype %></p></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<br/>


<div class="row">
  <div class="col-md-8">
    <div class="card h-100">
      <div class="card-header">
        Information
      </div>
      <div class="card-body "> 
        <div class="row">
          <div class="col"> 
            <% if @amon_alert != nil %>
              <p><strong><%= link_to "AMON Alert", @amon_alert.url%></strong> </p>   
              <p><strong>Number of RFC sources (AMON):</strong> <%= link_to @amon_alert.numrfc, "http://astrogeo.org/cgi-bin/calib_search_form.csh?ra="+@amon_alert.ra.to_s()+"d&dec="+@amon_alert.dec.to_s()+"d&num_sou="+@amon_alert.numrfc.to_s()+"&format=html" %></p> 
              <p><strong>RA [deg]:</strong> <%= @amon_alert.ra %></p>
              <p><strong>DEC [deg]:</strong> <%= @amon_alert.dec %></p>
              <p><strong>Assoc. AMON Sources:</strong> 
                <% @amon_alert.sources.each do |source| %>
                  <%= link_to source.j2000_name, source%>, 
                <%end%>
              </p>
            <% else %>
            <p>No AMON match found!</p>
            <% end %>
          </div>
          <div class="col">
              <p><strong><%= link_to "GCN Circular", @circular_neutrino.url%></strong> </p>
              <p><strong>Number of RFC sources (GCN):</strong> <%= link_to @circular_neutrino.num_rfc, "http://astrogeo.org/cgi-bin/calib_search_form.csh?ra="+@circular_neutrino.ra.to_s()+"d&dec="+@circular_neutrino.dec.to_s()+"d&num_sou="+@circular_neutrino.num_rfc.to_s()+"&format=html" %></p>
              <p><strong>RA [deg]:</strong> <%= @circular_neutrino.ra %> (+<%= @circular_neutrino.ra_err_plus %>/<%= @circular_neutrino.ra_err_minus%>)</p>
              <p><strong>DEC [deg]:</strong> <%= @circular_neutrino.dec %> (+<%= @circular_neutrino.dec_err_plus %>/<%= @circular_neutrino.dec_err_minus%>)</p>
              
              <p><strong>Assoc. GCN Sources:</strong> 
                <% @circular_neutrino.sources.each do |source| %>
                  <%= link_to source.j2000_name, source%>, 
                <%end%>
              </p>
              <p><%= link_to 'Edit', edit_circular_neutrino_path(@circular_neutrino), class: "btn btn-outline-success btn-sm" %></p>
              <% if user_signed_in? %>
                <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" id="averSwitch" name="averSwitch" value="yes">
                    <label class="form-check-label" for="averSwitch"> Average Mode </label>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card h-100">
      <div class="card-header">
        Aladin Lite View
      </div>
      <div class="card-body d-flex align-items-center justify-content-center">
        <!-- Aladin Lite View -->
        <div id="aladin-lite-div" style="width:300px;height:300px;"></div>
        <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
        <script type="text/javascript">
          <% if @circular_neutrino.ra != nil and @circular_neutrino.dec != nil %>
            var aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:1/30, target: "<%=@circular_neutrino.ra + " " + @circular_neutrino.dec%>"});
          <% else %>
            var aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:1/30, target: "<%=@circular_neutrino.name%>"});
          <% end %>
        </script>
      </div>
    </div>
  </div>
</div>
</br>

<!-- div style element with lightcurves & spectra -->

<!--Lightcurves-->
<div class="row align-items-start">
  
<% all_sources.sort.each do |source| %>
  
  <div class="col-md-6">
    <div class="card">
      <div class="card-header container-fluid">
        <div class="row">
          <div class="col-md-8">
          <%= link_to "Lightcurve", source_path(Source.where(j2000_name: source).first)%> 
          <% if amon_sources.include?(source) and gcn_sources.include?(source)%>
           (AMON+GCN)
          <% elsif gcn_sources.include?(source)%>
           (GCN only)
          <% elsif amon_sources.include?(source)%>
           (AMON only)
          <% end %>
          </div>
          <div class="col-md-4">          
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="lightcurve<%=source.gsub("+","plus").gsub("-","minus")%>"></div>
      </div>
    </div>
  </div>

<% end %>

</div>

<% end %>