<%= form_with(model: frequency) do |form| %>
  <% if frequency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frequency.errors.count, "error") %> prohibited this frequency from being saved:</h2>

      <ul>
        <% frequency.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :freq_ghz, class: "form-label" %>
    <%= form.text_field :freq_ghz, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :receiver, class: "form-label" %>
    <%= form.text_field :receiver, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
