
<!-- Image section -->

<div class="text-center p-3">
</br>
 <div class="row align-items-start">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <%= image_tag("telamon_logo", class: "img-fluid", width: "50%") %>
    </br>
    </br>
      <%= image_tag("telescope", class: "img-fluid") %>      
    </div>
    <div class="col-md-3">
    </div>
  </div>
</br>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <p>The TELAMON program is using the Effelsberg 100-m telescope to monitor the radio spectra of active galactic nuclei (AGN) under scrutiny in astroparticle physics, namely TeV blazars and candidate neutrino-associated AGN. The large Effelsberg dish can yield superior radio data over other programs for very-high-energy (VHE) emitting blazars, which are often faint radio sources.</p>
      <p>We perform high-frequency observations every 2-4 weeks at multiple frequencies up to 44 GHz. We aim to characterize the radio variability of very-high energy emitting AGN jets and trace dynamical processes in the pc-scale jets of blazars related to high-energy flares or neutrino detections.</p>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>



<%if user_signed_in? %>

<!-- Latest news section -->
<div class="card">
  <div class="card-header">
    Latest news
  </div>
  <div class="card-body">
    <h5 class="card-title">Last observation on <%= @epoches.order("date").reverse.first.date %>:</h5>

    <!-- checking for surprising changes in most recent epoch -->
    <% latest_epoch = @epoches.order("date").reverse.first %>
    <% latest_epoch.sources.distinct.each do |source| %>

    	<% epoch_before = source.epoches.distinct.order("date").reverse.second %>

    	<% if(epoch_before != nil) %>

        <% aver14=source.aver(19,25,latest_epoch.date).to_f %>        
        <% aver14_before=source.aver(19,25,epoch_before.date).to_f %>


        <% aver7=source.aver(36,44,latest_epoch.date).to_f %>        
        <% aver7_before=source.aver(36,44,epoch_before.date).to_f %>

        <% if (aver7==0 or aver7_before==0) %>
          <% aver7=1.0 %>
          <% aver7_before=1.0 %>
        <% end %>

        <% if (aver14==0 or aver14_before==0) %>
          <% aver14=1.0 %>
          <% aver14_before=1.0 %>
        <% end %>

        <% if aver14>1.1*aver14_before and aver7>1.1*aver7_before%>
          <%= image_tag("arrow_up", class: "img-fluid", width: "1.5%", style: "opacity:"+(((aver7+aver14) / (aver7_before+aver14_before) - 1)*2).to_s+";") %> <%= link_to source.j2000_name, source %> increased by <%= (((aver14+aver7) / (aver14_before+aver7_before) - 1)*100).round.to_s%>%  at 7mm and 14mm compared to last detection on <%= epoch_before.date %> <br/>
        <% else %>
          <% if aver14>1.1*aver14_before %>
            <%= image_tag("arrow_up", class: "img-fluid", width: "1.5%", style: "opacity:"+((aver14 / aver14_before - 1)*2).to_s+";") %> <%= link_to source.j2000_name, source %> increased by <%= ((aver14 / aver14_before - 1)*100).round.to_s%>%  at 14mm compared to last detection on <%= epoch_before.date %> <br/>
          <% end%>
          <% if aver7>1.1*aver7_before %>
            <%= image_tag("arrow_up", class: "img-fluid", width: "1.5%", style: "opacity:"+((aver7 / aver7_before - 1)*2).to_s+";") %> <%= link_to source.j2000_name, source %> increased by <%= ((aver7 / aver7_before - 1)*100).round.to_s%>%  at 7mm compared to last detection on <%= epoch_before.date %> <br/>
          <% end%>
        <% end %>

        <% if aver14<0.9*aver14_before and aver7<0.9*aver7_before %>
          <%= image_tag("arrow_down", class: "img-fluid", width: "1.5%", style: "opacity:"+(((aver7_before+aver14_before) / (aver14+aver7) - 1)*2).to_s+";") %> <%= link_to source.j2000_name, source %> decreased by <%= (((aver7_before+aver14_before) / (aver14+aver7) - 1)*100).round.to_s%>%  at 7mm and 14mm compared to last detection on <%= epoch_before.date %> <br/>
        <% else %>
          <% if aver14<0.9*aver14_before %>
            <%= image_tag("arrow_down", class: "img-fluid", width: "1.5%", style: "opacity:"+((aver14_before / aver14 - 1)*2).to_s+";") %> <%= link_to source.j2000_name, source %> decreased by <%= ((aver14_before / aver14 - 1)*100).round.to_s%>%  at 14mm compared to last detection on <%= epoch_before.date %> <br/>  
          <% end %>      
          <% if aver7<0.9*aver7_before %>
            <%= image_tag("arrow_down", class: "img-fluid", width: "1.5%", style: "opacity:"+((aver7_before / aver7 - 1)*2).to_s+";") %> <%= link_to source.j2000_name, source %> decreased by <%= ((aver7_before / aver7 - 1)*100).round.to_s%>% at 7mm compared to last detection on <%= epoch_before.date %> <br/>
          <% end %>
        <% end %>

      <%end%>
    <%end%>
  </div>
</div>

<%end%>