<%= form_with(model: result) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
        <% result.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :scan_nr %>
    <%= form.number_field :scan_nr %>
  </div>

  <div class="field">
    <%= form.label :value_jy %>
    <%= form.text_field :value_jy %>
  </div>

  <div class="field">
    <%= form.label :error_jy %>
    <%= form.text_field :error_jy %>
  </div>

  <div class="field">
    <%= form.label :mjd %>
    <%= form.text_field :mjd %>
  </div>

  <div class="field">
    <%= form.label :elevation %>
    <%= form.text_field :elevation %>
  </div>

  <div class="control-group">
    <%= form.label :epoch_id, class: 'control-label' %>
    <div class="controls">
      <%= collection_select( :result,:epoch_id,Epoch.order('date ASC'), :id, :date, {},{ :multiple => false}) %>
    </div>
  </div>

  <div class="control-group">
    <%= form.label :frequency_id, class: 'control-label' %>
    <div class="controls">
      <%= collection_select( :result,:frequency_id,Frequency.order('freq_ghz ASC'), :id, :freq_ghz, {},{ :multiple => false}) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :source_id %>
    <%= form.text_field :source_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
