<h1>Results</h1>

<table class="table table-hover table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Source</th>
      <th>Frequency [GHz]</th>
      <th>Epoch Date</th>
      <th>Flux Density [Jy]</th>
      <th>Error [Jy]</th>
      <th>MJD</th>
      <th>Scan Number</th>
      <th>Elevation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.order('mjd ASC').each do |result| %>
      <tr>
        <td><%= Source.where(id: result.source_id).first.j2000_name %></td>
        <td><%= Frequency.where(id: result.frequency_id).first.freq_ghz %></td>
        <td><%= Epoch.where(id: result.epoch_id).first.date %></td>
        <td><%= result.value_jy %></td>
        <td><%= result.error_jy %></td>
        <td><%= result.mjd %></td>
        <td><%= result.scan_nr %></td>
        <td><%= result.elevation %></td>
        <td><%= link_to 'Edit', edit_result_path(result), class: "btn btn-outline-success btn-sm" %></td>
        <td><%= link_to 'Delete', result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
