
<h1>Results</h1>
<button id="export_button" class="btn btn-success" data-table='export_results'>Export to CSV File</button>
<p></p>
<div class="table-responsive">
<table id="export_results" class="table table-hover table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Source</th>
      <th>Frequency [GHz]</th>
      <th>Epoch Date</th>
      <th>Flux Density [Jy]</th>
      <th>Error [Jy]</th>
      <th>MJD</th>
      <th>Lin. Pol. [%]</th>
      <th>Lin. Pol. Error [%] </th>
      <th>EVPA [deg]</th>
      <th>EVPA error [deg]</th>
      <th>Scan Number</th>
      <th>Elevation</th>
      <% if user_signed_in? && current_user.admin?%>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @results.order('mjd ASC').each do |result| %>
      <tr>
        <td><%= Source.where(id: result.source_id).first.j2000_name %></td>
        <td><%= Frequency.where(id: result.frequency_id).first.freq_ghz %></td>
        <td><%= Epoch.where(id: result.epoch_id).first.date %></td>
        <td><%= result.value_jy %></td>
        <td><%= result.error_jy %></td>
        <td><%= result.mjd %></td>
        <td><%= result.pol_frac %></td>
        <td><%= result.pol_frac_err %></td>
        <td><%= result.evpa %></td>
        <td><%= result.evpa_err %></td>
        <td><%= result.scan_nr %></td>
        <td><%= result.elevation %></td>        
        <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to 'Edit', edit_result_path(result), class: "btn btn-outline-success btn-sm" %></td>
        <td><%= link_to 'Delete', result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Result', new_result_path %>
