<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th>Scan nr</th>
      <th>Value jy</th>
      <th>Error jy</th>
      <th>Mjd</th>
      <th>Elevation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.scan_nr %></td>
        <td><%= result.value_jy %></td>
        <td><%= result.error_jy %></td>
        <td><%= result.mjd %></td>
        <td><%= result.elevation %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
